* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

h4 {
  font-size: 28px;
  text-decoration: underline;
  margin-left: 20px;
}

.container {
  background-color: black;
  width: 450px;
  height: 300px;
  margin: 20px 2px;
}

.container div {
  color: white;
  background-color: blue;
  font-size: 25px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  margin: 10px;
  padding: 20px 30px;
}

/**
CONTAINER C01
**/
.c01 {
  display: flex;
  align-items: center;
  /* flex-direction: row; Set by default :D */
  justify-content: center;
}
.c01 div {
  background-color: red;
}

/**
CONTAINER C02
**/
.c02 {
  display: flex;
  flex-direction: column; /* Changing the main display */
  justify-content: center;
  align-items: center;

}
.c02 div {
  background-color: orange;
}

/**
CONTAINER C03
**/
.c03 {
  display: flex;
  flex-direction: column;
  justify-content: start; /* This made the boxes start at the top */
  align-items: center;
}
.c03 div {
  background-color: green;
}

/**
CONTAINER C04
**/
.c04 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap; /* This is what made the items not overflow the container */
}
.c04 div {
  background-color: blue;
}

/**
CONTAINER C05
1 box need to wide the 50% of the width
**/
.c05 div {
  background-color: orangered;
  padding: 20px 40px;
  margin: 3px;
}

.c05 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.c05 div:nth-child(1){
  width: 50%;
}


/**
CONTAINER C06
margin-bottom and margin-top in "auto" value to send boxes to the top or the bottom container.
**/
.c06 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c06 div {
  padding: 20px 40px;
  margin: 5px;
}

.c06 div:nth-child(1){
  order: 2;
  margin-bottom: auto;
}
.c06 div:nth-child(2){
  order: 3;
  margin-top: auto;
}
.c06 div:nth-child(3){
  order: 4;
}
.c06 div:nth-child(4){
  order: 1;
}

/**
CONTAINER C07
flex-grow usually gets values from 1 to 4 to fill the disponible space
justify-content: left -> for the two boxes required. It means the global container has no attribute for it.
**/
.c07 div {
  background-color: cyan;
  color: black;
  padding: 20px 40px;
  margin: 3px;
}

.c07 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.c07 div:nth-child(1){
  flex-basis: 180px;
  justify-content: center;
}
.c07 div:nth-child(2){
  flex-grow: 1;
  justify-content: center;
}
.c07 div:nth-child(3){
  justify-content: left;
  flex-basis: 100px;
}
.c07 div:nth-child(4){
  justify-content: left;
  flex-basis: 105px;
}

/**
CONTAINER C08
flex-basis: to determine how much pixels shall get each box by default
flex-basis: 100% -> to get all the width
**/
.c08 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.c08 div:nth-child(2){
  flex-basis: 87px;
}
.c08 div:nth-child(7){
  flex-basis: 87px;)
}
.c08 div:nth-child(9){
  flex-basis: 100%;
}

.c08 div {
  background-color: purple;
}


