* {
    box-sizing: border-box;
}

.mobile {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 1.5fr 15fr 1fr 6fr;
    justify-content: center;
    align-content: center;
    grid-gap: 1px;
}

.profile-box{
    display: flex;
    height: 55px;
    background: #005e54;
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
}

.display-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background: url("https://www.wallpapertip.com/wmimgs/5-55896_wallpaper-background-whatsapp-default-dark-whatsapp-dark-wallpaper.jpg") no-repeat;
    background-size: 485px;
}

.message-box{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 2px solid black;
}

.keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;

}

.kb-row-1{
    display: flex;
    justify-content: space-between;
}
.kb-row-2{
    display: flex;
    justify-content: space-between;

}
.kb-row-3{
    display: flex;
    justify-content: space-between;
}
.kb-row-4{
    display: flex;
}

.normal-key{
    display: flex;
    flex-basis: 100%;
    font-size: 15px;
    text-align: center;
    height: 10px;
    line-height: 0;
    margin: 2px;
    padding: 20px 15px;

    background: #2a2a2a;
    color: #aaa;
    box-shadow: 0 0 0 0.05em black;

}

.space {
    display: flex;
    flex-grow: 1;
    padding: 20px 75px;
}

/* Idea for functionality for uppercase keys
.upper-key{
    display: flex;
    flex-basis: 100%;
    font-size: 15px;
    text-align: center;
    height: 10px;
    line-height: 0;
    margin: 2px;
    padding: 20px 15px;

    background: #2a2a2a;
    color: #aaa;
    box-shadow: 0 0 0 0.05em black;
}
*/
