<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Vue  3  CDN -->
  <script src="https://unpkg.com/vue@next"></script>
  <title>Students List</title>
</head>
<body>
<div id="app">
    Name: <input id="name" type="text" v-model="studentName" />
    Age: <input id="age" type="number" v-model="studentAge" />
    <button v-if="!onEdit" v-on:click="saveStudent()">Save</button>
    <button v-if="onEdit" v-on:click="editStudent(editableStudentId)">Edition</button>
  <h2>Students List:</h2>
  <ol>
    <li v-for="student in list">
      {{student.name}}: age {{student.age}}.
      <button v-on:click="showStudent(student)">Show</button>
      <button v-on:click="oldValues(student)">Edit</button>
      <button v-on:click="deleteStudent(student.id)">Delete</button>
    </li>
  </ol>
  <!-- students placed here -->
  <span v-if="currentStudent.length !== 0"> {{currentStudent.name}} have {{currentStudent.age}} years old. </span>
</div>
</body>
<script>
  const app = {
    data() {
      return {
        // Generating placeholders for new entries
        valueId: 4, // This is starting at 4 because there are already 4 items. Otherwise objects could have the same id and crud operations would broke or get crazy
        studentName: '',
        studentAge: 0,
        currentStudent: [ ],
        list: [
          { id: 1, name: 'Tom', age: 50 },
          { id: 2, name: 'Mary', age: 13 },
          { id: 3, name: 'Josh', age: 54 },
          { id: 4, name: 'Toni', age: 33 }
        ],
        editableStudentId: 0,
        onEdit: false,
      }
    },
    methods: {
      // Delete student
      deleteStudent(id) {
        this.list = this.list.filter((element) => element.id !== id);
      },

      // Save data of student
      saveStudent() {
        // Push to the list
        this.valueId++;
        let student = {
          id: this.valueId,
          name: this.studentName,
          age: this.studentAge,
        }
        this.list.push(student);

        // Reseting to default values
        this.studentName = "";
        this.studentAge = "";
      },

      // Show student
      showStudent(objectValues) {
        this.currentStudent = objectValues;
      },

      // Show values of the student at form inputs
      oldValues(objectValues) {
        this.studentName = objectValues.name;
        this.studentAge = objectValues.age;
        this.onEdit = true;
        this.editableStudentId = objectValues.id;
      },

      // Storing the values at the form edition inputs
      editStudent(id) {
        let editedStudent = this.list.find( item => item.id === id);
        editedStudent.name = this.studentName
        editedStudent.age = this.studentAge
        this.onEdit = false;

        // Reseting to default values
        this.studentName = "";
        this.studentAge = 0;
      }

    },

  }
  Vue.createApp(app).mount('#app')
</script>
</html>